* {
font-family: 'RocknRoll One', sans-serif;
<<<<<<< HEAD
=======
margin: 0;
padding: 0;
background-color: #9bd3dd;
color: #72706e;
font-size: 25px;
display: flex;
justify-content: center;
>>>>>>> CSS
}


h1 {
font-family: 'Indie Flower', cursive;
<<<<<<< HEAD
}
=======
font-size: 3rem;
display: inline;
color: #ffffff;
display: flex;
justify-content: center;
padding: 20px;
}

.section-header {
display: flex;
justify-content: center;
}

footer {
grid-area: f;
background-color: #038c9d;
display: flex;
justify-content: center;
margin-left: 150px;
color: #ffffff;
font-size: 0.5rem;
padding: 10px;
}

footer p {
background-color: #038c9d;
color: #ffffff;
display: flex;
justify-content: center;
font-size: 0.5rem;
}

header {
grid-area: h;
background-color: #907aa9;
margin-right: 70px;
}

.band-name {
padding: 50px;
background-color: #03ac9e;
display: flex;
justify-content: center;
}

.top {
display: flex;
flex-direction: flex-row;
justify-content: center;
background-color: #907aa9;
}

.shop-item {
display: flex;
flex-direction: flex-row;
justify-content: center;
}

.container {
font-size: 5px;
display: grid;
grid-template-columns: minmax(0px, auto)1fr;
grid-template-rows: 5rem 1fr 5rem;
grid-template-areas: 
    's h'
    's m'
    's f';
width: 100vw;
height: 100vh;
}

img {
padding: 2rem;
margin-right: 15px;
height: 200px;
width: 200px;
display: flex;
justify-content: space-evenly;
}

.section-header  {
background-color: #c4a7e7;
padding: 10px;
grid-column: 1 / -1;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.cart-row  {
flex-direction: row;
justify-content: space-evenly;
color: #8283ff;
padding: 80px;
}



  
 
  
>>>>>>> CSS
